@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: DepartureMono-Regular;

  src: url('/fonts/DepartureMono-Regular.woff2') format('woff2'),
       url('/fonts/DepartureMono-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'DepartureMono-Regular', sans-serif;
  background-color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.digit {
  color: white;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  width: 1.1ch;
  height: 1em;
  line-height: 1em;
  text-align: center;
  border: 1px solid #666;
  border-radius: 2px;
  margin-right: 1px;
  font-size: 30px;
  backface-visibility: hidden;
}

.hinge {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  box-sizing: border-box;
  height: 0.04em;
  background-color: inherit;
}
